<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tpt.autocarplus">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape">
        <activity android:name=".RadioActivity4" android:screenOrientation="landscape"></activity>
        <activity android:name=".RadioFavoriteList" android:screenOrientation="landscape" />
        <activity android:name=".RadioActivity3" android:screenOrientation="landscape" />
        <activity android:name=".RadioActivity2" />
        <activity android:name=".RadioActivity" android:screenOrientation="landscape"/>
        <activity android:name=".GearActivity" android:screenOrientation="landscape"
            />
        <activity android:name=".CarActivity" android:screenOrientation="landscape"/>
        <activity android:name=".BluetoothActivity" android:screenOrientation="landscape"/>
        <activity android:name=".MenuDisconnectActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ContactActivity" android:screenOrientation="landscape"/>
        <activity android:name=".MusicActivity" android:screenOrientation="landscape"/>
        <activity android:name=".GpsActivity" android:screenOrientation="landscape"/>
        <activity android:name=".MenuBluetooth" android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>